<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include("partials/head") %>

</head>
<body>
    
    <header id="top">

        <%- include("partials/header") %>

    </header>


    <section id="cta">

        <%- include("partials/cta") %>

    </section>
    

    <footer>

        <%- include("partials/footer") %>

    </footer>
</body>
</html>