<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include("partials/head") %>

</head>
<body>
    
    <header id="top">

        <%- include("partials/headerUser") %>

    </header>

    <section id="cta">

        <%- include("partials/ctaUser") %>

    </section>

    <section id="pelis">

    </section>

    <footer>

        <%- include("partials/footer") %>

    </footer>

</body>
</html>